
$diesel-color: #535379;
$cloud-color: #ecf0f1;
$sunflower-color: #f1c40f;
$midnight-color: #2c3e50;
$river-color: #3498db;
$emerald-color: #2ecc71;
$amethyst-color: #9b59b6;
$asbestos-color: #7f8c8d;
$dark-emerald-color: #27ae60;
$plurple-color: #2c3e50;