
$directory-spacing: 0.4em;
$directory-font-size: 1.1em;
$directory-width: 2in;

.directory {
  font-family: Ubuntu;
  font-size: $directory-font-size;

  padding-left: $directory-spacing;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

$directory-button-border-width: 2px;

@mixin directory-x-layout() {
  border-width: $directory-button-border-width;
  padding-left: 1.5em;
  max-width: $directory-width * 1.5;
  width: calc(
          100%
          - 1.5em
          - (#{$directory-button-border-width} * 2)
          - #{$directory-spacing}
  );
}

.directory-header {
  @include directory-x-layout();

  margin-bottom: $directory-spacing;

  &:after {
    content: ":";
  }

  color: $color3;
  text-shadow: 0px 0px 2px $color1, 0px 0px 2px $color1;
}

.directory-button {
  @include directory-x-layout();

  display: inline-block;


  padding-top: $directory-spacing;
  padding-bottom: $directory-spacing;

  margin-top: $directory-spacing / 2;
  margin-bottom: $directory-spacing / 2;

  border-style: solid;
  //border-color: darken($color4, 40%);

  color: $text-color1;
  background-color: $color4;

  border-radius: 1px;
  border-color: gray;
}