
@font-face {
  font-family: Lato;
  src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Arvo;
  src: url('../fonts/arvo/Arvo-Regular.ttf');
}

@font-face {
  font-family: Alegreya;
  src: url("../fonts/alegreya/AlegreyaSans-Regular.ttf")
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/ubuntu/UbuntuMono-Regular.ttf")
}