
body, html {
  // body flush with borders of screen
  border: 0;
  padding: 0;
  margin: 0;
}

// subtract the scrollbar width:
// https://stackoverflow.com/questions/33606565/is-it-possible-to-calculate-the-viewport-width-vw-without-scrollbar
@function minus-scrollbar-width($width) {
  @return calc(#{$width} - (100vw - 100%));
}

/// $n height units
@mixin uh($n) {
  min-height: 1in * $n;
  height: 100vh / 6 * $n;
  max-height: 2in * $n;
}

/// $n width units
@mixin uw($n) {
  min-width: 1in * $n;
  width: 100vw / 5 * $n;

  @media all
    and (max-height: 1in * 6) {
    max-width: minus-scrollbar-width((1in * $n) * 2);

    background-color: red;
  }

  @media all
    and (min-height: 1in * 6)
    and (max-height: 2in * 6) {
    max-width: minus-scrollbar-width((100vh / 6 * $n) * 2);

    background-color: green;
  }

  @media all
    and (min-height: 2in * 6) {
    max-width: minus-scrollbar-width((2in * $n) * 2);

    background-color: blue;
  }
}

div.main-column {
  height: 100%;
  @include uw(5);

  font-size: 0;

  margin: auto;
  //background-color: blue;

  // layout fix, see:
  // https://stackoverflow.com/questions/1762539/margin-on-child-element-moves-parent-element
  @each $psuedo in before, after {
    &:#{$psuedo} {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.cell {
  width: 20%;
  @include uh(1.0);
  display: inline-block;
  margin: 0;
  padding: 0;
}

#miku {
  width: 50%;
  margin: 10px 50%;
  display: block;
  transform: translateX(-50%);
}