
$max-ratio-uw-uh: 1.5;
$par-border-width: 0px;
$img-break-border-radius: 13px;

@import "stylin/layout";
@import "stylin/image";
@import "stylin/content";



@import "colors";
@import "fonts";

html {
  font-family: Alegreya, serif;

  background-color: $color2;
}

div.main-column {
  background-color: $color5;
  color: $text-color1;
}

$header-font-size: 16pt;
$header-path-size: $header-font-size * 0.75;
$header-frame-size: $header-font-size / 2;

#header {
  @include uw($num-columns);

  background-color: $color2;

  @each $psuedo in before, after {
    &:#{$psuedo} {
      clear: both;
      content: "";
      display: table;
    }
  }

}

.header-text {
  font-family: Lato;

  display: inline-block;

  margin: $header-frame-size;
  padding: $header-frame-size;
  width: calc(100% - (#{$header-frame-size} * 4));

  background-color: $color1;

  border-radius: 2px;
}

#header-path-head {
  //text-shadow: 0 0 4px transparentize($color3, 0.4);
  text-shadow: 0 0 7px $color4, 0 0 7px $color4, 0 0 7px $color4;
}

.header-path-sep {
  //color: #B8B8B8;
  color: #787878;
}

.header-path {
  font-size: $header-path-size;

  display: inline-block;
  vertical-align: middle;

  color: #F2F2F2;
}

.header-trademark {
  float: right;

  font-size: $header-font-size;

  font-family: Arvo;
  margin: 0 2em;
  color: $color3;
}

/*
div.header {
  padding: 10px 5px;
  text-align: center;
  background-color: $diesel-color;

  *//*
  left: 0;
  right: 0;
  position: absolute;
  *//*

  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;

  color: $sunflower-color;
  font-size: 1.3rem;
  font-family: ArvoBold, serif;

}
.header-sep {
  display: inline-block;

  width: 1em;
  margin: auto;

}
.header-major, .header-minor {
  display: inline-block;
  width: calc(50% - 1em);
}
.header-major {
  text-align: right;
}
.header-minor {
  text-align: left;
}
.header-text {
  display: inline-block;
  transform: scale(0.9, 1.0);
}
*/