
@import "colors";
@import "fonts";

$max-ratio-uw-uh: 1.5;
$par-border-width: 0px;
$img-break-padding: 20px;
$text-padding: 2em;

@import "stylin/layout";
@import "stylin/image";
@import "stylin/content";
@import "stylin/title";

$directory-link-color: #F2F2F2;

@import "header";
@import "title";
@import "prompt";
@import "aside";
@import "image";
@import "code";

$font-size-desktop: 13pt;
$font-size-mobile: 26pt;
$mobile-phone-width-cutoff: 480px;


html {
  font-family: Alegreya, serif;
  background-color: $color2;

  @media screen and (min-device-width: $mobile-phone-width-cutoff) {
    font-size: $font-size-desktop;
  }

  @media screen and (max-device-width: $mobile-phone-width-cutoff) {
    font-size: $font-size-mobile;
  }
}

#content {
  background-color: $color5;
  color: $text-color1;

  box-shadow: 0 0 8px 4px $color1;
  margin-bottom: 0.6in;

  @include containment-pseudotables;
}

$spacer-height: 0.6in;

div.spacer {
  height: $spacer-height;
}

hr.spacer {
  display: block;
  margin: $spacer-height / 2 auto;
  border-style: solid;
  border-color: transparentize($color2, 0.5);
  border-width: 0.5px;
  max-width: 10in;
  clear: both;
}

p.tab {
  margin-left: 4em;
}

.center {
  display: block;
  width: 100%;
  text-align: center;
}
