
$code-font-size: 0.8em;
$code-block-padding: 1em;

pre.code, div.code {
  font-family: Ubuntu;
  font-size: $code-font-size;
  background-color: $color1;
  color: darken(white, 20%);
  padding-left: $code-block-padding;
  padding-right: $code-block-padding;
  padding-top: $code-block-padding - $code-font-size;
  padding-bottom: $code-block-padding - $code-font-size;
  overflow-x: auto;
}

span.code {
  font-family: Ubuntu;
  background-color: $color1;
  color: darken(white, 20%);
  padding: 0.05em;
  font-size: 0.9em;
  display: inline-block;
}

.override-inherit-background-color {
  background-color: inherit !important;
}

.override-colored-code-background-color {
  background-color: #2B2B2B !important;
}