
@font-face {
  font-family: Lato;
  src: url('../fonts/minified/Lato-Regular.woff2');
}

@font-face {
  font-family: Arvo;
  src: url('../fonts/minified/Arvo-Regular.woff2');
}

@font-face {
  font-family: Alegreya;
  src: url("../fonts/minified/AlegreyaSans-Regular.woff2")
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/minified/UbuntuMono-Regular.woff2")
}