/* Coolors Exported Palette - coolors.co/4d5061-64677d-f1c40f-9b59b6-74b659 */

/* HSL */
$color1: hsla(231%, 11%, 34%, 1);
$color2: hsla(233%, 11%, 44%, 1);
$color3: hsla(48%, 89%, 50%, 1);
$color4: hsla(283%, 39%, 53%, 1);
$color5: hsla(103%, 39%, 53%, 1);

/* RGB */
$color1: rgba(77, 80, 97, 1);
$color2: rgba(100, 103, 125, 1);
$color3: rgba(241, 196, 15, 1);
$color4: rgba(155, 89, 182, 1);
$color5: rgba(116, 182, 89, 1);