
$text-padding: 0.5em !default;

// useful for debugging
// as well as actually giving them borders if you want
$par-border-width: 0px !default;

@for $n from 1 through $num-columns {
  .col-#{$n}uw {

    padding: 0 $text-padding;
    margin-top: $text-padding;
    margin-bottom: $text-padding;

    width: calc(
            (
              100% / #{$num-columns} * #{$n}
            ) - (
              #{$text-padding} * 2
            ) - (
              #{$par-border-width} * 2
            )
    );
    clear: none;
    float: left;

    border-width: $par-border-width;
    border-color: #FFFFFFFF;
    border-style: dashed;

    font-size: 1rem;

  }
}

$inner-col-max-width: 6in !default;

/// Inner column with smaller maximum width.
.inner-col {
  width: 100%;
  max-width: $inner-col-max-width;
  margin: auto;
  clear: both;
}
