
$img-break-padding: 10px !default;

@for $n from 1 through $preferred-visible-rows - 1 {
  .img-break-#{$n}uh {

    @include uh($n);

    display: block;

    margin: $img-break-padding 50%;
    //padding: $img-break-padding $img-break-padding;

    transform: translateX(-50%);
    clear: both;
  }
}
