
body, html {
  // body flush with borders of screen
  padding: 0;
  margin: 0;

  // see: https://stackoverflow.com/a/31797979/4957011
  height: 100%;
}

body {
  // ios safari font size fix
  // see: https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone
  @media screen and (max-device-width: 480px){
    -webkit-text-size-adjust: none;
  }
}

// subtract the scrollbar width:
// https://stackoverflow.com/questions/33606565/is-it-possible-to-calculate-the-viewport-width-vw-without-scrollbar
@function minus-scrollbar-width($width) {
  @return calc((#{$width}) - (100vw - 100%));
}

$min-uh: 1in !default;
$max-uh: 2in !default;
$min-uw: 0.5in !default;
$num-columns: 5 !default;
$preferred-visible-rows: 6 !default;
$max-ratio-uw-uh: 2 !default;

@mixin containment-pseudotables() {
  // layout fix, keeps images inside of this, including their margins
  // see:
  // https://stackoverflow.com/questions/1762539/margin-on-child-element-moves-parent-element
  @each $psuedo in before, after {
    &:#{$psuedo} {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.margin-container {
  @include containment-pseudotables();
}

div.main-column {
  // extend entirety of page
  min-height: 100%;

  // centered
  margin: auto;

  // calculate width
  min-width: minus-scrollbar-width($min-uw * $num-columns);
  width: 100%;
  // max-width = $num-columns * (max-uw = uh * max-ratio-uw-uh)
  @media all and (max-height: $min-uh * $preferred-visible-rows) {
    // uh = $min-uh
    max-width: minus-scrollbar-width(
                    $min-uh * $max-ratio-uw-uh * $num-columns
    );
  }
  @media all
  and (min-height: $min-uh * $preferred-visible-rows)
  and (max-height: $max-uh * $preferred-visible-rows) {
    // uh = 100vh / $preferred-visible-rows
    max-width: minus-scrollbar-width(
                    (100vh / $preferred-visible-rows) * $max-ratio-uw-uh * $num-columns
    );
  }
  @media all and (min-height: $max-uh * $preferred-visible-rows) {
    // uh = $max-uh
    max-width: minus-scrollbar-width(
                    $max-uh * $max-ratio-uw-uh * $num-columns
    );
  }

  @include containment-pseudotables();
}

/// Give the element $n height units.
@mixin uh($n) {
  min-height: $min-uh * $n;
  height: 100vh / $preferred-visible-rows * $n;
  max-height: $max-uh * $n;
}

/// Give the element $n width units.
///
/// The element should be a direct child of the main column.
@mixin uw($n) {
  width: 100% / $num-columns * $n;
}