
$title-font-family: "Comic Sans MS" !default;
$title-font-size: 1.5em !default;
$title-underline-color: black !default;

.title-block {
  text-align: center;
  width: 100%;

  @include containment-pseudotables();
}

span.title {
  display: inline-block;
}